@font-face {
  font-family: 'Englist IPA';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/NotoSans-IPA-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Englist IPA';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/NotoSans-IPA-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Englist IPA';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/NotoSans-IPA-600.ttf') format('truetype');
}
